AI_Video_ToolKit.UI/bin/
AI_Video_ToolKit.UI/obj/
install/

# =========================
# BUILD
# =========================
bin/
obj/

# =========================
# USER / IDE
# =========================
.vscode/
*.user
*.suo
*.userprefs

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# TEMP
# =========================
*.tmp
*.cache
*.bak

# =========================
# OS FILES
# =========================
Thumbs.db
.DS_Store

# =========================
# PORTABLE TOOLS (ВАЖНО)
# =========================
# НЕ коммитим тяжелые бинарники
# C:\_Portable_
# _Portable_/

# =========================
# MEDIA (если большие файлы)
# =========================
# *.mp4
# *.mkv
# *.avi

# =========================
# NUGET
# =========================
packages/
*.nupkg

# =========================
# TEST OUTPUT
# =========================
TestResults/

# =========================
# DOTNET
# =========================
*.runtimeconfig.json
*.deps.json
